button{

cursor:pointer;

transition:var(--transition);

font-family:inherit;

font-size:16px;

font-weight:600;

}

.primary-btn{

background:var(--primary);

color:white;

padding:15px 28px;

border:none;

border-radius:18px;

box-shadow:var(--shadow-soft);

}

.primary-btn:hover{

background:var(--primary-hover);

transform:translateY(-3px);

box-shadow:var(--shadow-hover);

}

.secondary-btn{

background:white;

color:var(--primary);

border:2px solid var(--primary);

padding:15px 28px;

border-radius:18px;

}

.secondary-btn:hover{

background:var(--primary);

color:white;

}