input,
select,
textarea{

width:100%;

padding:15px;

border-radius:16px;

border:2px solid var(--border);

font-size:15px;

outline:none;

transition:var(--transition);

background:white;

}

input:focus,
select:focus,
textarea:focus{

border-color:var(--primary);

box-shadow:
0 0 0 5px rgba(244,162,97,.15);

}

label{

display:block;

margin-bottom:8px;

font-weight:600;

color:var(--primary);

}