.sidebar {
    width: 270px;
    min-height: 100vh;
    background: var(--surface);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    transition: var(--transition);
    border-right: 1px solid var(--border);
}

.brand{
    text-align:center;
    margin-bottom:40px;
}

.brand h1{
    color:var(--primary);
    font-size:30px;
    letter-spacing:2px;
}

.brand span{
    color:var(--text-light);
    font-size:13px;
}

.sidebar-links{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.sidebar-links a{

    display:flex;
    align-items:center;
    gap:15px;

    text-decoration:none;
    color:var(--text);

    padding:14px 18px;

    border-radius:14px;

    transition:var(--transition);

    font-weight:500;

}

.sidebar-links a:hover{

    background:rgba(212,163,115,.15);

    color:var(--primary);

    transform:translateX(5px);

}

.sidebar-links a.active{

    background:var(--primary);

    color:white;

    box-shadow:0 8px 20px rgba(212,163,115,.4);

}

.logout-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:15px;

    margin-top:30px;

    border:none;

    border-radius:15px;

    background:var(--danger);

    color:white;

    cursor:pointer;

    transition:var(--transition);

    font-size:15px;

}

.logout-btn:hover{

    transform:translateY(-3px);

}